<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2col-lg-2">
        <img src="../../../assets/op3.jpg" 
        class="img-fluid" id="Perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="name">Triana Naile Barrionuevo</p>
        <p id="titulo">Full Stack Developer Junior</p>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
        <span>
            <h1 id="acerca">
                Acerca de mi
            </h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste culpa, architecto exercitationem quidem ea quod cum. Minus, culpa nulla corporis, fuga voluptatem aliquid est ea laboriosam repudiandae saepe adipisci molestiae.
            </p>
        </span>
    </div>

</div>

