<div class="container text-center">
  <div class="row">
    <div class="col-4">
     <!-- 1er circulo -->
    <circle-progress
    title="JavaScript"
    titleColor="#B3629C"
    [percent]="25"
    [radius]="100"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="1"
    [outerStrokeColor]="'#3414EB'"
    [innerStrokeColor]="'#070129'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
    </div>
    <div class="col-4">
      <!-- 2do circulo -->
  <circle-progress
  title="HTML"
  titleColor="#B3629C"
  [percent]="50"
  [radius]="100"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="1"
  [outerStrokeColor]="'#3414EB'"
  [innerStrokeColor]="'#070129'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
    </div>
    <div class="col-4">
      <!-- 3er circulo -->
  <circle-progress
  title="Boostrap"
  titleColor="#B3629C"
  [percent]="50"
  [radius]="100"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="1"
  [outerStrokeColor]="'#3414EB'"
  [innerStrokeColor]="'#070129'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
    </div>
  </div>
</div>

<div class="row">
    <!-- 1er circulo -->
    <circle-progress
    title="Trabajo en equipo"
    titleColor="#B3629C"
    [percent]="90"
    [radius]="100"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="1"
    [outerStrokeColor]="'#3414EB'"
    [innerStrokeColor]="'#070129'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>

<!-- 2do circulo -->
  <circle-progress
  title="Growth mindset"
  titleColor="#B3629C"
  [percent]="100"
  [radius]="100"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="1"
  [outerStrokeColor]="'#3414EB'"
  [innerStrokeColor]="'#070129'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>

<!-- 3er circulo -->
  <circle-progress
  title="Compromiso"
  titleColor="#B3629C"
  [percent]="100"
  [radius]="100"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="1"
  [outerStrokeColor]="'#3414EB'"
  [innerStrokeColor]="'#070129'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>
</div>
